/* global variables, use with 'var(--VARNAME)' */
:root {
  --news: #bbb;
  --news-background: #ddd;
  --news-marker: #888;

  --tags: #ddd;

  --code-names: #d62728;
  --code-default-values: #888;

  --grey: #333;
  --grey-medium: #ddd;
  --grey-light: #f8f8f8;
  --grey-headers: rgba(0,0,0,.1);
  --white: #fff;

/*--blue: rgba(0,113,188,1.0);                 #0071bc HSB: 204°,1.00,0.74 */
/*--blue-medium: rgba(0,113,188,0.4); */
/*--blue-light: rgba(0,113,188,0.1); */
  --blue: #437699;           /* HSB: 204°,0.56,0.60, rgba(56,99,128,1.0) */
  --blue-medium: #9acaed;    /* HSB: 204°,0.35,0.93 */
  --blue-light: #edf5fa;     /* HSB: 204°,0.05,0.98 */
  --orange: #ff7f0e;         /* HSB: 28°,0.95,1.00, rgba(255,127,14,1.0) */
  --orange-medium1: #ffc999; /* HSB: 28°,0.40,1.00 */
  --orange-medium2: #ffddbf; /* HSB: 28°,0.25,1.00 */
  --orange-light1: #fff8f2;   /* HSB: 28°,0.05,1.00 */
/*--orange-medium: rgba(255,127,14,0.4); */
/*--orange-light1: rgba(255,127,14,0.1); */
  --yellow: #ffc107;         /* HSB: 45°,0.97,1.00, rgba(255,193,7,1.0) */
  --yellow-medium1: #ffe599; /* HSB: 45°,0.40,1.00 */
  --yellow-medium2: #ffefbf; /* HSB: 45°,0.25,1.00 */
  --yellow-light1: #fffcf2;   /* HSB: 45°,0.05,1.00 */
  --yellow-light2: #fffdf7;   /* HSB: 45°,0.03,1.00 */

}

/* body {
  min-height: 100%;
  position: relative;
} */
/* position:sticky */
/* display:inline-block */
/* display:block */
/* .container-xl {margin-bottom: 60px;} */

.container-xl {max-width: none;} /* 90% !important; */

/* make extra_navbar appear at regular distance from the last chapter entry */
.bd-links {padding-bottom: 0.1rem;}

/* space underneath the GitHub/LinkedIn links */
.bd-sidebar div.navbar_extra_footer {margin-bottom: 50px;} /* 15px */

/* long horizontal line underneath section headers */
h1 {
  font-size: 2.4em;
  margin-bottom: 2.5rem !important;
}
h2 {
  border-bottom: 2px solid;
  border-bottom-color: var(--grey-headers);
  padding-bottom: 0.2em;
}
h3 {
  border-bottom: 1px solid;
  border-bottom-color: var(--grey-headers);
  padding-bottom: 0.2em;
}
.toc-h5 {font-size: 0.85em;}

.bolditalic{
  font-weight: bold;
  font-style: italic;
}

/* additional space before :reST Captions: */
dt.field-odd {padding-top: 1em;}

/* don't indent lists too far */
ul {padding-left: 1.5rem;}

/* admonition: .. note:: */
.admonition.note {
  background-color: var(--white);
  border-left-color: var(--blue);
}
.admonition.note .admonition-title {background-color: var(--blue-light);}
.admonition.note .admonition-title::before {color: var(--blue)}

/* admonition: .. todo:: */
.admonition-todo {
  background-color: var(--white);
  border-left-color: var(--orange);
}
.admonition-todo .admonition-title {background-color: var(--orange-medium2);}
.admonition-todo .admonition-title::before {color: var(--orange);}

/* footnotes */
.footnote {font-size: .9rem;}
.footnote dt {width: unset;} /* 'unset' reverts to inherited,
                                'initial' to the spec */
main.bd-content #main-content dl.footnote dd {
  font-size: .9rem; /* dd had font-size specified in em */
  margin-left: 0.5em;
}

.margin.sidebar li {margin: 0.2em 0;}

/* a bit more space above the footer */
.footer {padding-top: 20px;} /* 10px */

/* fix the padding on the left side due to artificially limited width */
footer.footer div.container {max-width: 100%;}



/*  ----------------------------
    Prev/Next Navigation Buttons
    ---------------------------- */

.prev-next-bottom {margin: 60px 0 20px 0;}
main.bd-content #main-content .prev-next-bottom a {color: var(--grey);}
main.bd-content #main-content .prev-next-bottom a:visited {color: var(--grey);}
main.bd-content #main-content .prev-next-bottom a:hover {
  text-decoration: none;
  background-color: var(--blue-medium);
}
main.bd-content #main-content .prev-next-bottom a:active {
  background-color: var(--orange-medium1);
}
.left-prev {background-color: var(--grey-light);}
.right-next {background-color: var(--grey-light);}
.prev-next-bottom a.left-prev::before {
  content: "🡸"; /* HTML: &#129144; Unicode: U+1F878 */
  color: var(--grey);
  font-size: 1.25rem;
  margin-right: 0.5em;
}
.prev-next-bottom a.right-next::after {
  content: "🡺"; /* HTML: &#129146; Unicode: U+1F87A */
  color: var(--grey);
  font-size: 1.25rem;
  margin-left: 0.5em;
}



/*  ------------------------
    Spellbook Plot Galleries
    ------------------------ */

/* based on https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */

/*  .. list-table::
       :class: spellbook-gallery-wrap */
table.spellbook-gallery-wrap.table tbody {
  display: block;
}
table.spellbook-gallery-wrap.table tbody tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.spellbook-gallery-wrap.table p.caption {max-width: 450px;}
.spellbook-gallery-wrap.perc90.table p.caption {max-width: 90%;}

/*  .. list-table::
       :class: spellbook-gallery-scroll */
table.spellbook-gallery-scroll.table tbody {
  display: grid;
  justify-content: center;
}
table.spellbook-gallery-scroll.table tr {
  display: unset;
  position: sticky;
  left: 0;
}
main.bd-content #main-content .spellbook-gallery-scroll.table div.figure {
/* trigger horizontal scrolling for overflow by keeping each plot in a div
    sized according to its content's size */
  width: max-content;
}
.spellbook-gallery-scroll td {border-top: none;}
/* .spellbook-gallery img {border: solid 2px rgba(0,113,188,0.8);} */



/*  ---------------------
    Spellbook Admonitions
    --------------------- */

/* .. admonition:: Some Title
      :class: spellbook-admonition-blue */
div.spellbook-admonition-blue.admonition {
  border-left-color: var(--blue);
}
.spellbook-admonition-blue p.admonition-title {
  background-color: var(--blue-medium); /* var(--blue); */
}
.spellbook-admonition-blue p.admonition-title::before {
  color: var(--blue); /* var(--grey) */
  content: "";
}

/* .. admonition:: Some Title
      :class: spellbook-admonition-orange */
div.spellbook-admonition-orange.admonition {
  border-left-color: var(--orange);
}
.spellbook-admonition-orange p.admonition-title {
  background-color: var(--orange-medium1); /* var(--orange); */
}
.spellbook-admonition-orange p.admonition-title::before {
  color: var(--orange); /* var(--grey) */
  content: "";
}

/* .. admonition:: Defition
      :class: spellbook-definition */
  div.spellbook-definition.admonition {
  border-left-color: var(--yellow);
}
.spellbook-definition p.admonition-title {
  background-color: var(--yellow-light);
}
.spellbook-definition p.admonition-title::before {
  color: var(--yellow);
  content: "💡"; /* HTML: &#x1F4A1; Unicode: U+1F4A1 */
}


/* WHY SPELLBOOK?
  .. admonition:: Some Title
     :class: spellbook-why */
div.spellbook-why.admonition {
  border-left-color: var(--orange);
  font-size: 1.1em;
}
.spellbook-why p.admonition-title {background-color: var(--orange-medium1);}
.spellbook-why p.admonition-title::before {
  color: var(--orange); /* var(--grey) */
  content: "";
}
.spellbook-why.admonition .admonition-title + * {margin-top: 1.2em;}
.spellbook-why.admonition li {margin: 0.4em 0;}

/*
  GALLERY
  .. admonition:: Gallery
     :class: spellbook-gallery */
div.spellbook-gallery.admonition {border-left-color: var(--blue);}
.spellbook-gallery p.admonition-title {background-color: var(--blue-medium);}
.spellbook-gallery p.admonition-title::before {
  color: var(--blue);
  content: "";
}
.spellbook-gallery-scroll img {margin: 0 0.5em;}

/*
  NEWS
  .. margin:: News
     :class: spellbook-news */
div.spellbook-news.margin.sidebar {margin-top: 2em !important;}
.spellbook-news.margin.sidebar li {margin: 0.3em 0;}

/*
  PROJECTS & TUTORIALS
  .. admonition:: Some Title
     :class: spellbook-projects */
div.spellbook-projects.admonition {border-left-color: var(--orange);}
.spellbook-projects p.admonition-title {background-color: var(--orange-medium1);}
.spellbook-projects p.admonition-title::before {
  color: var(--orange);
  content: "";
}
.spellbook-projects.admonition .admonition-title + * {margin-top: 0.8em;}
.spellbook-projects.admonition li {margin: 0.2em 0;}



/*  ----
    TAGS
    ---- */

.tag-list {display: table-row; width: 100%;}
.tag-cell {display: table-cell; padding: 1em 0 1em; white-space: nowrap;}
.tag-date {font-style: italic;}
.tag-center {display: table-cell; width: 100%;}
.tag-text {margin-right: 1em;}
a.tag {
  background-color: var(--tags);
  color: var(--grey) !important;
  /* margin-left: 0.5em; */
  padding: 0.8em 0.5em;
}
/* a.tag-left {
  background-color: var(--tags);
  color: var(--grey) !important;
  margin-right: 0.5em;
  padding: 0.8em 0.5em;
} */
a.tag.left {margin-right: 0.5em;}
a.tag.right {margin-left: 0.5em;}
a.tag:hover {background-color: var(--blue-medium); text-decoration: none;}
a.tag:active {background-color: var(--orange-medium1);}



/*  -------------------------
    Source Code Documentation
    ------------------------- */

/* borders and shadows around functions, classes and class methods */
.function {
  border: 2px solid #2980B9;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,0.2), 0 0 .05rem rgba(0,0,0,0.2);
}
.class {
  border: 2px solid #2980B9;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,0.2), 0 0 .05rem rgba(0,0,0,0.2);
}
.method {
  border: 2px solid #ccc;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,0.2), 0 0 .05rem rgba(0,0,0,0.2);
}

/* span signatures across the whole container */
.py dt {margin-bottom: 12px !important; width: 100%;}
.py dd {margin-right: 24px !important;}
.py .sig {border: none; width: 100%;} /* the full signature */
.py .sig-object {border: none; width: 100%;} /* the full signature */

.py .sig-prename {color: var(--code-default-values);} /* the module name */
.py .sig-name { /* the function/class name */
  color: var(--code-names); font-size: 1.1em;
}
.py .sig-param {font-size: 1.1em;} /* the signature of a parameter */
.py .default_value { /* parameter default value */
  color: var(--code-default-values);
}

/* add padding on the right to make centered images really appear centered */
.py img.align-center {padding-right: 24px;}





* {box-sizing: border-box;}

#examples-table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  border: 1px solid var(--grey-medium);
}
#examples-table th, #examples-table td {
  text-align: left;
  padding: 0.5em 1.0em; /* 12px */
}
#examples-table tr {
  border-bottom: 1px solid var(--grey-medium);
}
#examples-table tr.header {background-color: var(--blue-medium);}
#examples-table-body tr:hover {background-color: var(--grey-light);}

#examples-searchbar {
  /* background-image: "_static/search.png";
  background-position: 10px 10px;
  background-repeat: no-repeat; */
  width: 100%;
  padding: 0.5em 1.0em; /* 12px 20px 12px 40px */
  border: 1px solid var(--grey-medium);
  margin-bottom: 12px;
}
/* #examples-searchbar::before {content: "\f002";} */
